/*--------- CONTAINER ----------*/

.pages__container {
  padding: 0 200px;
}

/*--------- ABOUT US ----------*/

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__title {
  color: #ed2840;
  font-size: 42px;
  padding: 50px 0 50px 50px;
}

.about__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 40%;
  padding: 0 0 150px 0;
}

/*--------- NEWS ----------*/

.news__main {
  padding: 50px 100px 200px 200px;
}

.news__title {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  font-size: 42px;
  color: #ed2840;
}

.news__filter {
  display: flex;
}

.news__subtitle {
  padding: 35px 300px 15px 0;
  color: #000;
  font-size: 26px;
  font-weight: 900;
  font-family: Oswald, sans-serif;
}

.all__news {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news {
  display: flex;
  max-width: 450px;
  max-height: 200px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 12px 24px;
}
.news:first-child {
  margin-left: 0;
}

.news__up {
  display: flex;
  margin-bottom: 20px;
}

.news__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.news_title {
  font-size: 18px;
  font-family: Oswald, sans-serif;

  overflow: hidden;
  text-overflow: ellipsis;
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news__author {
  font-family: Lato;
  max-width: 300px;
  margin-left: 20px;
  color: #ed2840;
  font-size: 12px;
}

.news__image {
  min-width: 200px;
  max-height: 265px;
}

.news__published {
  display: inline-block;
  color: #898989;
  font-family: Lato;
  font-size: 12px;
}

.news__source {
  margin-top: 20px;
  color: #000;
}

.spinner__element {
  padding: 200px;
}

.news__articles {
  display: flex;
  flex-wrap: wrap;
}
.css-g1d714-ValueContainer {
  width: 400px;
}

/*--------- NEWS ITEM ----------*/

.news__item {
  padding: 60px 0 200px 200px;
  display: flex;
  flex-direction: column;
}

.items__title {
  color: #ed2840;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.items__date {
  font-size: 16px;
}

.items__image {
  max-width: 800px;
  max-height: 520px;
  align-items: center;
}

.back__link {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
}

.items__text {
  margin: 40px;
}

/*--------- CONTACTS ----------*/

.contacts {
  padding: 100px 100px 300px 100px;
}

.contacts__inner {
  padding: 0 0 0 100px;
}

.contacts__title {
  color: #ed2840;
}

.contatcts__info {
  margin-top: 35px;
  font-size: 43px;
}

/*--------- PAGINATION ----------*/

.pagination {
  padding: 40px 0 0 300px;
}

.pagination__button {
  box-shadow: 4px 2px 5px #898989;
  padding: 7px 14px;
  background-color: #fff;
  box-sizing: border-box;
  color: #848484;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
}

.pagination__button:hover {
  color: #000;
}
